# C/C++ files to ignore

## Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

.DS_Store

nd-coursework/books/algorithms
nd-coursework/books/cpp/C++17/filesystem/tmp
nd-coursework/books/cpp/FoundationsOfQtDev/build
nd-coursework/books/cpp/FunctionalC++
nd-coursework/courses/mpiWorkshop
