# C/C++ files to ignore

## Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

Algorithms/**/*
